<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            text-align: center;
        }

        header {
            align-items: center;
            justify-content: space-between;
            background-color: #003366;
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }

        header img {
            max-height: 500px; /* Adjust logo size */
            max-width: 500px;
            position: absolute;
            right: 20px; /* Adjust the distance from the right edge */
            top: 20px;   /* Adjust the distance from the top edge */
        }

        h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        .strapline {
            font-size: 1.5em;
            margin-bottom: 30px;
        }

        .cta {
            font-size: 1.5em;
            margin-top: 20px;
            font-weight: bold;
        }

        .cta strong {
            font-size: 2em;
            color: #FF4500;
        }

        .main-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            flex-wrap: wrap;
            gap: 10px; /* Reduces space between items */
        }
        .screenshot-gallery {
            flex: 1;
            background-color: #e9ecef;
            /*padding: 40px 20px;*/
            border-radius: 8px;
            margin-top: 0;
        }
        screenshot-gallery img {
           flex: 1 1 500px;
        }

        .signup-container {
            flex: 1;
            background-color: #e9ecef;
            /*padding: 40px 20px;*/
            border-radius: 8px;
            margin-top: 0;
        }

        .signup-container h3 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .signup-form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 400px;
            margin: 0 auto;
        }

        .signup-form input[type="email"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .signup-form .checkbox-group {
            display: flex;
            flex-direction: row;
            margin: 0px 10;
        }

        .signup-form .checkbox-group label {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .signup-form .checkbox-group input {
            margin-right: 10px;
        }

        .signup-form button {
            background-color: #003366;
            color: #ffffff;
            padding: 15px 30px;
            border: none;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

        .signup-form button:hover {
            background-color: #00509e;
        }

        footer {
            background-color: #003366;
            color: white;
            text-align: center;
            padding: 20px;
        }

        @media (max-width: 768px) {
            .main-container {
                flex-direction: column;
                align-items: center;
            }

            .screenshot, .signup-container {
                max-width: 100%;
                margin-top: 20px;
            }
        }
    </style>
